.website_sales {
  width: 32%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
  padding-bottom: 25px;
  background: #fff;
}

.website_sales h3,
.website_sales h4,
.website_sales p {
  padding-left: 15px;
}
.website_sales h3 {
  font-size: 18px;
  margin-top: 15px;
  color: #373838;
}

.website_sales h4 {
  font-size: 14px;
  padding-top: 7px;
  color: #aeb4b4;
}

.website_sales p {
  font-size: 12px;
  padding-top: 7px;
  color: #aeb4b4;
}

.daily_sales_chart {
  width: 90%;
  height: 300px;
  margin: auto;
  margin-top: -70px;
  border-radius: 4px;
}

.daily_sales_chart {
  background: #5db661;
}
@media screen and (max-width: 767px) {
  .website_sales {
    width: 100%;
    margin-bottom: 120px;
  }
}
